
html {
    scroll-behavior: smooth;
}

.page-header {
    width: 100%;
    height: 150px;
    background-color: #030303;
    .header-container {
        max-width: 1440px;
        height: 150px;
        margin-left: 12.55%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: inherit;
    }
    
    .logo-wrapper {
        display: flex;
        .logo {
            width: 49px;
            height: 26px;
            background: url("./assets/svg/logo.svg") no-repeat;
        }

        .logo-text {
            margin-left: 25px;
            font-family: 'Forum', cursive;
            font-weight: normal;
            font-size: 28px;
            line-height: 31px;        
            letter-spacing: 5px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    
    }
    .header-navigation {
        .navigation-menu {
            display: flex;
        }
        .navigation-item {
            margin-left: 35px;
            list-style: none;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 200;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 2px;
        }
        .navigation-link {
            text-decoration: none;
            padding:10px;
            color: #FFFFFF;
        }
        .tickets-item-fix {
            margin-left: 40px;
        }
        .contacts-item-fix {
            margin-right: -10px;
        }
    }

}

.page-main {
    .section {
        width: 100%;
        .section-container {
            max-width: 1440px;
            height: 810px;
            margin-left: 12.55%;
            display: flex;
        }
        .text-content-wrapper {
            height: 400px;
            position: relative;
            top: 98px;
            left: 2px;
            z-index: 3;
        }
/*         .section-mona {
            background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%), url("./assets/img/welcome-slider/12.jpg");

        } */
        .section-welcome-width {
            width: 600px;
        }
        .section-title {
            margin-bottom: 0px;
            font-family: "Forum";
            font-style: normal;
            font-weight: normal;
            font-size: 80px;
            line-height: 90px;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
        .subtitle {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 300;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 2px;
        }
        .discover-link {
            width: 360px;
            height: 75px;
            margin-top: 76px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: #710707;
            text-decoration: none;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 2px;
        }
        .carousel {
            position: relative;
            right: 11%;
            text-align: center;
            .item-conteiner {
                position: relative;
                width: 100%;
                overflow: hidden;
            }
            .item {
                display: none;
                position: relative;
                animation: 0.5s ease-in-out;
            }
            .mask {
                position: absolute;
                width: 1000px;
                height: 754px;
                background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
                z-index: 1;
            }
            .discription {
                position: relative;
                z-index: 0;
            }
            .active,
            .next {
                display: block;
            }
            .next {
                position: absolute;
                top: 0%;
                width: 100%;
            }
            .pagination {
                position: relative;
                left: 400px;
                bottom: 64px;
                width: 600px;
                height: 120px;
                display: flex;
                background-color: black;
            }

            .radio-wrapper {
                position: relative;
                margin-right: 25px;
            }

            .radio+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
            }
            
            .radio {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }

            .radio+label::before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                flex-grow: 0;
                background-color: #FFFFFF;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }

            .radio:checked+label::before {
                background-color: #D2B183;
              }
            
            .pagination-index {
                position: relative;
                margin-left: 74px;
                display: flex;
                align-items: center;
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                word-spacing: 5px;
                font-size: 22px;
                line-height: 40px;
                text-transform: uppercase;
                color: #FFFFFF;
                z-index: 3;
            }
            .radio-pagination {
                position: relative;
                margin-left: 55px;
                display: flex;
                align-items: center;
                z-index: 2;
            }
            .control {
                position: relative;
                width: 8.5%;
                display: flex;
                align-items: center;
                font-size: 30px;
                color: white;
                z-index: 2;
            }
            .control.right {
                margin-top: 1px;
            }
            .control.left {
                margin-left: 35px;
            }
            .arrow {
                display: inline-block;
                position: absolute;
                cursor: pointer;
            }
            .arrow.right {
                transform: rotate(-180deg);
            }
            .to-left {
                animation-name: left;
            }
            .to-right {
                animation-name: right;
                animation-direction: reverse;
            }
            .from-left {
                animation-name: left;
                animation-direction: reverse;
            }
            .from-right {
                animation-name: right;
            }
            @keyframes left {
                from {
                    left: 0;
                } 
                to {
                    left: 100%;
                }
            }
            @keyframes right {
                from {
                    left: -100%;
                } 
                to {
                    left: 0;
                }
            }
        }
    }
    .white-text {
        color: white;
    }
    .section-black {
        background-color: #030303;
    }
}


